{% extends 'base.html' %}

{%block title%}To-do List{% endblock%}

{% block content %}

{% if messages %}
	{% for message in messages %}
	<div class="alert alert-info alert-dismissable" role="alert">
		<button class="btn-close"  data-bs-dismiss="alert" style="float: right">
				<small><sup>x</sup></small>
		</button>
 		{{message}}
 	</div>
	{% endfor %}
{% endif %}
<br>
	{% if all_items %}
	<table class="table table-striped table-hover">	
		{% for things in all_items %}
			{% if things.completed %}
				<tr  class="table-success">
					<td class='striker'><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
					<td><center><a href="{% url 'incomplete' things.id %}">Complete</a></center></td>
					<td><center><a href="{% url 'delete' things.id %}">Delete</center></td>
				</tr>
			{% else %}
				<tr class="table-warning">
					<td><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
					<td><center><a href="{% url 'complete' things.id %}">Incomplete</a></center></td>
					<td><center><a href="{% url 'delete' things.id %}">Delete</center></td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	{% endif %}
{% endblock %}